body{
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #111;
  background-color: #f5f5f5;
}
.width-max-container{
  margin: auto;
  width: 1100px;
}
.width-default-container{
  margin: auto;
  width: 980px;
}
/* 清除浮动 */
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: "";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
} 

/* 文本截取 */
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 2行文本截取 */
.row-ellipsis{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}